body {
   background-color: #4e4848;
   color: aliceblue;
   font-size: 16px;
   font-family: "Palette Mosaic", cursive;
}

.wrapper {
   width: 100vh;
   margin: 0 auto;
   align-items: center;
   text-align: center;
   padding: 50px;
   border: 3px solid #fff;
   box-shadow: 0 0 15px violet;
}
.about,
.stack,
.experience,
.contact {
   border: 3px solid #fff;
   box-shadow: 0 0 15px violet;
   max-width: 1400px;
   margin: 30px;
   padding: 30px;
}
.about img {
   border: 3px solid aqua;
   box-shadow: 0 0 15px violet;
}
.list {
   list-style: none;
   padding: 0;
   margin: 0;
}
.list li {
   margin-bottom: 10px;
}
.list li:hover {
   color: aqua;
}
.grid {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   border: 2px solid aqua;
   line-height: 3;
   padding: 45px;
   border-spacing: 15px;
}
.grid td {
   border-right: 1px solid #fff;
   padding-right: 20px;
   box-shadow: 0 0 15px violet;
}
.grid td:nth-last-child(3) {
   border-left: 1px solid #fff;
   padding-left: 20px;
}

a {
   color: aqua;
   cursor: pointer;
}
a:hover {
   color: violet;
}
a:visited {
   color: fuchsia;
}

.form-grup input {
   padding: 10px 45px;
   border-radius: 5px;
   box-sizing: border-box;
   outline: none;
   text-align: center;
}
.form-grup input:focus {
   border: 3px solid aqua;
   background-color: rgb(235, 170, 218);
}
.form-grup textarea {
   border-radius: 5px;
   text-align: center;
}
.form-grup textarea:focus {
   border: 3px solid aqua;
   background-color: rgb(235, 170, 218);
}

.btn {
   padding: 5px 15px;
   background-color: aqua;
   border-radius: 0 10px 0 10px;
   font-weight: bold;
   box-shadow: 0 0 15px violet;
   cursor: pointer;
}
.btn:hover {
   background-color: violet;
}

@media (max-width: 764px) {
   body {
      margin: 0;
      padding: 0;
   }
   .wrapper {
      width: 95%;
      margin: 0;
      padding: 5px;
      text-align: center;
      align-items: center;
   }
   .about,
   .stack,
   .experience,
   .contact {
      margin: 10px;
      padding: 10px;
   }

   .form-grup input {
      padding: 10px 15px;
   }
   .form-grup textarea {
      padding: 10px 15px;
   }
}
